body{
    color: #f3e8e8;
    background-color: #000700;
}
.navbar *, #mobile-dropdown *{
    color: #f3e8e8;
}
.nav-link:hover, .green{
    color: #0d6129 !important;
}
.close{
    display: none;
}
.navbar{
    background-color: #000700d8 !important;
}
#mobile-dropdown{
    position: absolute !important;
    width: 100% !important;
    height: 100vh !important;
    top: 0 ;
    position: relative;
    background-color: #000700d8 !important;
}
#close{
    margin-top: 25px;
    right: 25px;
    position: absolute;
}
.marg{
    margin-top: 80px;
}